@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@media screen and (max-width: 1080px) {
  .colonheader2 {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1080px) {
  .menuheader a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1080px) {
  .media a {
    font-size: 30px;
  }
}
@media screen and (max-width: 1080px) {
  .colonheader3 {
    width: 20%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1080px) {
  #logo {
    font-family: "Fruktur", system-ui;
    font-size: 3rem;
  }
}

@media screen and (max-width: 1080px) {
  #famain1 h1 {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 1080px) {
  .div1 {
    width: 20%;
    height: 80%;
    gap: 20px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1080px) {
  .menufooter a {
    color: var(--Cor-noir);
    font-family: "Audiowide", sans-serif;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1080px) {
  .footer {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  #famain6 {
    background-color: var(--Cor-noir);
    width: 100%;
    height: 1000px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1080px) {
  .colonm6,
  .colonn6 {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
}
